@import "vars";

.login, .signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 128px;
}
.signup {
  padding-top: 64px;
}
.logo {
  height: 100px;
}
.login h1, .signup h1 {
  margin-bottom: 24px;
}
.login p, .signup p {
  margin-bottom: 34px;
}
.form {
  min-width: 320px;
  width: 20%;
}
.form div {
  display: flex;
  flex-direction: column;
}
.form label {
  font-size: var(--sm);
  color: var(--text-input-field);
  margin-bottom: 8px;
}
.alert {
  font-size: var(--sm);
  color: red;
  margin-bottom: 16px;
}
.input {
  height: 48px;
  margin-bottom: 16px;
  padding: 8px 12px;
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  font-size: var(--sm);
  font-weight: 500;
}
.input:focus {
  outline: none;
  box-shadow: 0 0 0 1.4px var(--main-color);
}
.submit {
  height: 48px;
  margin: 24px 0;
  padding: 8px;
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  text-align: center;
  font-size: var(--md);
  font-weight: 500;
  color: var(--white);
  background-color: var(--main-color);
  cursor: pointer;
}
.submit:hover {
  background-color: var(--main-color-dark);
}
.submit:focus {
  outline: none;
}
.login a, .signup a {
  margin: 0 auto;
  text-decoration: none;
  margin-bottom: 16px;
  color: var(--main-color);
}
.login a:hover, .signup a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .login, .signup {
    padding-top: 128px;
  }
}